build
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/hw3-Xuming8812/v15/ipch/AutoPCH/ef0aea55fc384f2b/MAINQ1.ipch
/.vs/hw3-Xuming8812/v15/ipch/AutoPCH/ef0aea55fc384f2b
/.vs/hw3-Xuming8812/v15/ipch/AutoPCH/5f42e0bfa734689a/MATRIX2X2.ipch
/.vs/hw3-Xuming8812/v15/ipch/AutoPCH/5f42e0bfa734689a
/.vs/hw3-Xuming8812/v15/ipch/AutoPCH
/.vs/hw3-Xuming8812/v15/Browse.VC.opendb
/.vs/hw3-Xuming8812/v15/Browse.VC.db
/.vs/hw3-Xuming8812/v15/.suo
/.vs/hw3-Xuming8812/v15
/.vs
