build
/.vs/hw2-Xuming8812/v15/ipch/AutoPCH/7086a034e70abc4a/MAINQ1.ipch
/.vs/hw2-Xuming8812/v15/ipch/AutoPCH/7d4a3fb76485a810/NEWTONRAPHSON.ipch
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/hw2-Xuming8812/v15/Browse.VC.opendb
/.vs/hw2-Xuming8812/v15/Browse.VC.db
/.vs/hw2-Xuming8812/v15/.suo
/.vs/hw2-Xuming8812/v15/ipch/AutoPCH/c12ecb2585d4d8aa/FACTORIAL.ipch
/.vs/hw2-Xuming8812/v15/ipch/AutoPCH/305595882169dfe2/MAINQ2.ipch
